.main

  .main__chat-main-group
    .main__chat-main-group__left
      %h1.main__chat-main-group__left__top
        test
      %ul.main__chat-main-group__left__member-list
        member :
        %li.main__chat-main-group__left__member-list__member
        j
    = link_to "#" do
      .main__chat-main-group__right
        Edit
  .main__chat-main-message-list
  .main__chat-main-message-form
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main__chat-main-message-form__message', placeholder: 'type a message'
        .main__chat-main-message-form__mask
          = f.label :image, class: 'main__chat-main-message-form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'main__chat-main-message-form__submit'